@font-face {
  font-family: "TraditionNaskh";
  src: url("../assets/fonts/Traditional\ Naskh.ttf") format("truetype");
}

@font-face {
  font-family: "AlQalamQuranPublisher";
  src: url("../assets//fonts/Al\ Qalam\ Quran\ Publisher.ttf")
    format("truetype");
}

.font-hadith {
  font-family: "TraditionNaskh", "Noto Nastaliq Urdu";
}

.font-quran {
  font-family: "AlQalamQuranPublisher", "Noto Nastaliq Urdu";
}
